{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
خانه
{% endblock %}

{% block content %}
    <a href="{% url 'home' %}">خانه</a>
    <p>{{ name|upper }}</p>
    <p>{{ name|lower }}</p>
    <p>{{ skills|length }}</p>

    <p>سن: {{ age }}</p>
    {% if age >= 18 %}
        <p>بزرگسال</p>
    {% else %}
        <p>کودک</p>
    {% endif %}
    <ul>
    {% for skill in skills %}
        <li>{{ skill }}</li>
    {% endfor %}
    </ul>

{% endblock %}
{% block extra_css %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'blog/js/main.js' %}"></script>
{% endblock %}


