<!-- blog/templates/blog/post_list.html -->
{% extends "blog/base.html" %}
{% block content %}
<h1>لیست پست‌ها</h1>

<ul>
    {% for post in posts %}
        <li>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            ({{ post.created_at|date:"Y-m-d" }})
            - <a href="{% url 'blog:post_update' post.slug %}">ویرایش</a>
            - <a href="{% url 'blog:post_delete' post.slug %}">حذف</a>
        </li>
    {% empty %}
        <li>هیچ پستی موجود نیست</li>
    {% endfor %}
</ul>

<a href="{% url 'blog:post_create' %}">پست جدید بساز</a>
{% endblock %}
